// body {
//   font-family: "Lato", sans-serif;font-size: 1rem;line-height: 24px ;

// }

// .selet {
//   width: 296px;
//   // height: 800px;
//   background:#F8F9FA;
//   padding: 32px;
// }
// h1 {
//   height: 80px;
// }
// h2 {

//   font-size: 16px;
//   line-height: 24px;
// }
// .container{display: flex;}

// .data{width: 984px;}